.input {
  border: 2px solid #eaa504;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 5px;
  outline: none;
  padding: 0.5rem 1rem;
}

.label {
  color: black;
  display: flex;
  flex-direction: column;
  font: 1em sans-serif;
  font-size: 0.7em;
  font-weight: 600;
}
